<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Logo Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/logo-nav.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <div id="navbar"></div>

    <!-- Page Content -->
    <div class="container">
      <h1 class="mt-5">レシピ一覧</h1>
      <table  class="table">
	<tr>
	  <td>レシピ名</td>
	  <td>ジャンル</td>
	  <td>食材</td>
	  <td>主菜/副菜</td>
	  <td>URL</td>
	</tr>
	{% for r in results %}
	<tr>
	  <td>{{r.name}}</td>
          <td>{{r.genre}}</td>
	  <td>{{r.ingredients}}</td>
	  <td>{{r.main}}</td>
	  <td>
	    <ul>
	    {% for u in r.URL%}
	      <li><a href={{u}} target="_blank">{{u}}</a></li>
	      {% endfor %}
	    </ul>
	  </td>
	</tr>
	{% endfor %}
      </table>
    </div>
    
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      $(function(){
      $("#navbar").load("/static/html/navbar.html");
      });
    </script>
  </body>
  
</html>
