<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/static/img/akabeko.png" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gacha/">ガチャ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipe/">レシピ一覧</a>
        </li>
	<li class="nav-item">
          <a class="nav-link" href="/recipe/add/">レシピ追加</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
